@import './tailwind.css';
@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: 0.3s;
  @apply text-primary;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  @apply text-accent;
}
